body {
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
  margin: 0;
  background-color: #CBCBCB;
}

.App {
  align-items: flex-start;
  padding: 40px 20px;
}

.forms {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-right: 1vw;
}

.wishlist-container {
    margin-left: 1vw;
}

.wish-form button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    background-color: #82fff3;
}

.wish-form button:hover {
    background-color: #1d3557;
}

.wish-item-price {
    font-weight: bold;
    margin-left: 10px;
}

.wish-item-row {
    margin-left: 10vw;
    width: 75vw;
    padding: 12px 15px;
    margin-bottom: 8px;
    border-radius: 8px;
    border-left: 5px solid #457b9d;
    background-color: white;
    transition: box-shadow 0.2s;
}

.wish-item-row:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wish-item-row.is-purchased {
    border: black;
    border-left-color: #ccc;
    background-color: #D4D4D4;
    opacity: 0.7;
    text-decoration: line-through;
}

.is-purchased span {
    text-decoration: line-through;
}

.wish-item-row span {
    text-decoration: none;
    color: black;
}

.delete-button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
    transition: background-color 0.2s;
    font-size: 0.9em;
}

.delete-button:hover {
    background-color: #c42638;
}

